<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>THÊM SẢN PHẨM</title>
</head>
<body>
    <h1>THÊM SẢN PHẨM</h1>
    <hr /><br/>
    <form th:action="@{/products/save}" th:object="${product}" method="post">

        <label>Tên Sản Phẩm:</label>
        <input type="text" th:field="*{name}" required/><br/><br/>

        <label>Giá (VND):</label>
        <input type="number" th:field="*{price}" required/><br/><br/>

        <label>Thông Tin:</label>
        <input type="text" th:field="*{description}" required/><br/><br/>

        <button type="submit">Thêm</button>
    </form>
</body>
</html>